:root {
    /* 色库 */
    --colorred: #d90000;
    --colordred: #c20404;
    --colorddred : #990000;
    --colorwhite: #ffffff;
    --colorblack : #000000;
    --colorgrey : #999999;
    --colordgrey : #505050;
    --colorldgrey : #c6c6c6;
    --colorlgrey : #dddddd;
    --colorslgrey : #eeeeee;
    --colororange : #ff8d1a;

    --colorlogin : #e5cfaa;
    --colorgold: #d6bc8b;

    --shadowblack : rgba(0,0,0,0.5);
    --rgbagrey : rgba(153,153,153,0.5);
    --rgbawhite : rgba(255,255,255,0.5);

    --pagemaxwidth : 1680px;

}