
/* 顶栏 */
.banner {
    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px var(--shadowblack);
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 25px;
    box-sizing: border-box;
}
.banner>.search {
    display: flex;
    height: 100%;
    gap: 10px;
    align-items: center;
}
.banner>.search>.text {
    font-size: 16px;
    color: var(--colorddgrey);
}
.banner>.search>.searchbox {
    width: 320px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid var(--colorldgrey);
    font-size: 16px;
    color: var(--colorddgrey);
    padding: 0 10px;
    box-sizing: border-box;
}
.banner>.search>.searchbox:focus {
    outline: none;
}
.banner>.search>.searchbutton {
    padding: 0 25px;
    height: 35px;
    background-color: var(--colorblue);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--colorwhite);
    text-align: center;
    line-height: 35px;
}
.banner>.text{
    font-size: 16px;
    color: var(--colorddgrey);
}
.banner>.select{
    width: 120px;
    height: 35px;
    background-color: var(--colorwhite);
    border-radius: 7px;
    border: 1px solid var(--colorldgrey);
    font-size: 16px;
    color: var(--colorddgrey);
    text-align: center;
}
.banner>.command {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.banner>.command>.commandbutton {
    padding: 0 25px;
    height: 35px;
    background-color: var(--colorblue);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--colorwhite);
    text-align: center;
    line-height: 35px;
}
.banner>.switch {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
}
.banner>.switch>.switchitem {
    font-size: 16px;
}
.banner>.switch>.selected {
    color: var(--colorblue);
    border-bottom: 2px solid var(--colorblue);
}


/* 主体 */
.bodymain {
    width: 100%;
    box-shadow: 0 0 10px var(--shadowblack);
    border-radius: 15px;
    padding: 25px 25px;
    box-sizing: border-box;
    margin-top: 15px;
}
.bodymain>.maintable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.bodymain>.maintable th {
    height: 50px;
    border: 1px solid var(--colorldgrey);
    background-color: var(--colorblue);
    font-size: 18px;
    font-weight: normal;
    color: var(--colorwhite);
}
.bodymain>.maintable td {
    border: 1px solid var(--colorldgrey);
    font-size: 16px;
    text-align: center;
}
.bodymain>.maintable td.command>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.bodymain>.maintable td.command>div>.commandbutton {
    padding: 0 25px;
    height: 35px;
    background-color: var(--colorblue);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--colorwhite);
    text-align: center;
    line-height: 35px;
}

/* 菜单 */
.backblack {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--shadowblack);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popover {
    background-color: var(--colorwhite);
}

@media only screen and (max-width: 1680px) {
    /* 顶栏 */
    .banner {
        height: 50rem;
        box-shadow: 0 0 10rem var(--shadowblack);
        padding: 0 25rem;
        gap: 10rem;
    }
    .banner>.search {
        gap: 10rem;
    }
    .banner>.search>.text {
        font-size: 16rem;
    }
    .banner>.search>.searchbox {
        width: 320rem;
        height: 35rem;
        font-size: 16rem;
        padding: 0 10rem;
    }
    .banner>.search>.searchbutton {
        padding: 0 25rem;
        height: 35rem;
        font-size: 16rem;
        line-height: 35rem;
    }
    .banner>.text{
        font-size: 16rem;
    }
    .banner>.select{
        width: 120rem;
        height: 35rem;
        font-size: 16rem;
    }
    .banner>.command>.commandbutton {
        padding: 0 25rem;
        height: 35rem;
        font-size: 16rem;
        line-height: 35rem;
    }
    
    /* 主体 */
    .bodymain {
        box-shadow: 0 0 10rem var(--shadowblack);
        padding: 25rem 25rem;
        margin-top: 15rem;
    }
    .bodymain>.maintable th {
        height: 50rem;
        font-size: 18rem;
    }
    .bodymain>.maintable td {
        font-size: 16rem;
    }
    .bodymain>.maintable td.command>div {
        gap: 15rem;
    }
    .bodymain>.maintable td.command>div>.commandbutton {
        padding: 0 25rem;
        height: 35rem;
        font-size: 16rem;
        line-height: 35rem;
    }
}