
.cutline {
    margin: 10px 0;
}
.thisbutton {
    height: 30px;
    padding: 0 25px;
    border-radius: 5px;
    background-color: var(--colorblue);
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: var(--colorwhite);
    margin-right: 15px;
}

.messageitems {
    width: 100%;
    height: 100px;
    box-shadow: 0 0 10px var(--shadowblack);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.messageitems .avator {
    width: 70px;
    height: 70px;
}
.messageitems .name {
    flex: 1;
    font-size: 20px;
    text-align: center;
}
.messageitems .arrowicon {
    width: 50px;
    height: 50px;
    fill: var(--colorgrey);
}

.mainmain {
    width: 100%;
    box-shadow: 0 0 10px var(--shadowblack);
    border-radius: 15px;
    padding: 25px;
    box-sizing: border-box;
}
.mainbox {
    width: 100%;
    height: 800px;
    background-color: var(--colorslgrey);
}
.mainbox .messageshow {
    width: 100%;
    height: 650px;
    overflow-y: scroll;
    padding: 0 30px;
    box-sizing: border-box;
}
.mainbox .messageshow::-webkit-scrollbar {
    display: none;
}

.mainbox .inputbox {
    width: 100%;
}
.mainbox .inputbox .functions {
    width: 100%;
    height: 25px;
    display: flex;
    gap: 15px;
    margin-left: 15px;
}
.mainbox .inputbox .functions .icon {
    width: 25px;
    height: 25px;
    fill: var(--colorgrey);
}
.mainbox .inputbox .input {
    width: 100%;
    height: 60px;
    resize: none;
    border: none;
    background-color: var(--colorslgrey);
    font-size: 16px;
    padding: 0 15px;
    margin-top: 5px;
    box-sizing: border-box;
}
.mainbox .inputbox .input:focus {
    outline: none;
}
.mainbox .inputbox .send {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: end;
}

/*对话框*/
.mainbox .messageshow .buyermessage {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
}
.mainbox .messageshow .servicemessage {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    margin-top: 30px;
}
.mainbox .messageshow .avator {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.mainbox .messageshow .messagemian {
    font-size: 18px;
}
.mainbox .messageshow .buyermessage .speakername {
    text-align: left;
}
.mainbox .messageshow .servicemessage .speakername {
    text-align: right;
}
.mainbox .messageshow .messagebox {
    color: var(--colorwhite);
    padding: 10px;
    margin-top: 10px;
    max-width: 550px;
}
.mainbox .messageshow .buyermessage .messagebox {
    background-color: var(--colorred);
    border-radius: 0 15px 15px 15px;
}
.mainbox .messageshow .servicemessage .messagebox {
    background-color: var(--colorblue);
    border-radius: 15px 0 15px 15px;
}

@media only screen and (max-width: 1680px) {
    .cutline {
        margin: 10rem 0;
    }
    .thisbutton {
        height: 30rem;
        padding: 0 25rem;
        border-radius: 5rem;
        font-size: 15rem;
        line-height: 30rem;
        margin-right: 15rem;
    }

    .messageitems {
        height: 100rem;
        box-shadow: 0 0 10rem var(--shadowblack);
        border-radius: 15rem;
        padding: 0 25rem;
        margin-bottom: 15rem;
    }
    .messageitems .avator {
        width: 70rem;
        height: 70rem;
    }
    .messageitems .name {
        font-size: 20rem;
    }
    .messageitems .arrowicon {
        width: 50rem;
        height: 50rem;
    }

    .mainmain {
        box-shadow: 0 0 10rem var(--shadowblack);
        border-radius: 15rem;
        padding: 25rem;
    }
    .mainbox {
        height: 800rem;
    }
    .mainbox .messageshow {
        height: 650rem;
        padding: 0 30rem;
    }

    .mainbox .inputbox .functions {
        height: 25rem;
        gap: 15rem;
        margin-left: 15rem;
    }
    .mainbox .inputbox .functions .icon {
        width: 25rem;
        height: 25rem;
    }
    .mainbox .inputbox .input {
        height: 60rem;
        font-size: 16rem;
        padding: 0 15rem;
        margin-top: 5rem;
    }
    .mainbox .inputbox .send {
        height: 30rem;
    }

    /*对话框*/
    .mainbox .messageshow .buyermessage {
        gap: 30rem;
        margin-top: 30rem;
    }
    .mainbox .messageshow .servicemessage {
        gap: 30rem;
        margin-top: 30rem;
    }
    .mainbox .messageshow .avator {
        width: 70rem;
        height: 70rem;
    }
    .mainbox .messageshow .messagemian {
        font-size: 18rem;
    }
    .mainbox .messageshow .messagebox {
        padding: 10rem;
        margin-top: 10rem;
        max-width: 550rem;
    }
    .mainbox .messageshow .buyermessage .messagebox {
        border-radius: 0 15rem 15rem 15rem;
    }
    .mainbox .messageshow .servicemessage .messagebox {
        border-radius: 15rem 0 15rem 15rem;
    }
}