
/* 整体设置 */
.detialbody {
    max-width: var(--pagemaxwidth);
    margin: auto;
}

/* 头部 */
.detialhead {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadowblack);
    padding: 25px;
    box-sizing: border-box;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}
/* 商品展示图 */
.imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    object-fit:cover;
}
.large>img{
    width: 450px;
    height: 410px;
    object-fit:cover;
}
.minis {
    width: 450px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    &>img {
        width: 85px;
        height: 85px;
        object-fit:cover;
    }
}
/* 右侧菜单 */
.controlpad {
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* 标题 */
.titleandshare {
    width: 100%;
    height: 48px;
    display: flex;
    &>.title {
        width: fit-content;
        height: 100%;
        font-size: 32px;
        line-height: 48px;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    &>.share {
        margin-left: auto;
        display: flex;
        gap: 20px;
        &>.icon {
            width: 32px;
            height: 32px;
            fill: var(--colorgrey);
        }
    }
}
.subtitle {
    width: 100%;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: var(--colorgrey);
}
/* 价格 */
.price {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: end;
    gap: 5px;
    &>.realprice {
        font-size: 32px;
        line-height: 48px;
        font-weight: bold;
        color: var(--colorred);
    }
    &>.fakeprice {
        font-size: 25px;
        font-weight: bold;
        line-height: 37px;
        color: var(--colorgrey);
        text-decoration: line-through;
    }
}
/* 地址 */
.address {
    max-width: 390px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadowblack);
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
    &>.textbox {
        flex: 1;
        height: 100%;
        overflow: hidden;
        &>.text{
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
    }
    &>.icon {
        width: 30px;
        height: 30px;
        margin-left: auto;
        fill: var(--colordgrey);
        align-self: end;
    }
}
/* 选择颜色分类 */
.typechoose {
    max-width: 990px;
    min-height: 180px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadowblack);
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    align-items: end;
    &>.list {
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 40px;
        overflow: hidden;
        & .listitem {
            width: 220px;
            height: 57px;
            border: 1px solid var(--colordgrey);
            border-radius: 10px;
            padding: 7.5px 10px;
            box-sizing: border-box;
            display: flex;
            gap: 10px;
        }
        & .img {
            width: 40px;
            height: 40px;
            object-fit:cover;
        }
    }
    &>.icon {
        width: 30px;
        height: 30px;
        fill: var(--colordgrey);
    }
}
/* 购买 */
.buynsave {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &>.buy {
        width: 280px;
        height: 60px;
        border-radius: 32px;
        background-color: var(--colorred);
        font-size: 25px;
        color: var(--colorwhite);
        text-align: center;
        line-height: 60px;
    }
    &>.save {
        width: 280px;
        height: 60px;
        border-radius: 32px;
        background-color: var(--colororange);
        font-size: 25px;
        color: var(--colorwhite);
        text-align: center;
        line-height: 60px;
    }
}

/* 商品描述 */
.detialmain {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadowblack);
    padding: 25px;
    box-sizing: border-box;
    margin-top: 30px;
    &>.title {
        width: 100%;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
    }
    &>.img {
        width: 100%;
        object-fit:cover;
    }
}

/* 温馨提醒 */
.warning {
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
    color:var(--colordgrey);
}
.cl>.cutline {
    margin: 30px 0;
}

/* 评论 */
.comment {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadowblack);
    padding: 25px;
    box-sizing: border-box;
    &>.title {
        width: 100%;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
    }
    /* 排序 */
    &>.filternsort {
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        &>.filter {
            width: 170px;
            height: 40px;
            border-radius: 22px;
            border: 1px solid var(--colordgrey);
            margin-right: 10px;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
            overflow: hidden;
        }
        &>.sort {
            width: 150px;
            height: 40px;
            border-radius: 22px;
            border: 1px solid var(--colordgrey);
            padding: 0 10px;
            margin-left: auto;
            display: flex;
            align-items: end;
            &>.textbox {
                flex: 1;
                height: 100%;
                font-size: 20px;
                text-align: center;
                line-height: 40px;
                overflow: hidden;
            }
            &>.icon {
                width: 25px;
                height: 40px;
                fill: var(--colordgrey);
            }
        }
    }
    /* 评论内容 */
    &>.item {
        width: 100%;
        &>.user {
            width: 100%;
            height: 60px;
            margin-top: 25px;
            display: flex;
            gap: 10px;
            &>.useravator {
                width: 60px;
                height: 60px;
                object-fit:cover;
            }
            & .username {
                width: 100%;
                height: 20px;
                font-size: 20px;
                font-weight: bold;
                line-height: 20px;
            }
            & .cominfo {
                width: 100%;
                height: 30px;
                font-size: 15px;
                line-height: 30px;
                color: var(--colorgrey);
            }
        }
        &>.context {
            max-width: 100%;
            margin: 10px 0;
            margin-left: 70px;
            font-size: 20px;
            line-height: 30px;
        }
        & .img {
            width: 100px;
            height: 100px;
            object-fit:cover;
        }
        &>.active {
            width: 100%;
            height: 30px;
            display: flex;
            gap: 20px;
            justify-content: right;
            margin-bottom: 10px;
            &>.icon {
                width: 32px;
                height: 32px;
                fill: var(--colorgrey);
            }
        }
        &>.childcomments {
            margin: 10px 0;
            margin-left: 70px;
            max-width: 100%;
            background-color: var(--colorlgrey);
            &>.childcommentitembox>.childcommentitem {
                padding: 10px;
                display: flex;
                box-sizing: border-box;
                font-size: 15px;
                line-height: 15px;
            }
        }
        &>.replying {
            max-width: 100%;
            margin: 10px 0;
            margin-left: 70px;
            display: flex;
            &>input {
                height: 30px;
                flex: 1;
                box-sizing: border-box;
            }
            &>.submitereply {
                width: 70px;
                height: 30px;
                margin-left: 10px;
                border-radius: 5px;
                font-size: 15px;
                text-align: center;
                line-height: 30px;
                color: var(--colorwhite);
                background-color: var(--colorred);
            }
        }
    }
}

/* 推荐商品 */
.more {
    width: 100%;
    margin-top: 30px;
    &>.title {
        width: 100%;
        height: 40px;
        font-size: 25px;
        font-weight: bold;
        line-height: 25px;
    }
    &>.list {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

/* 放大选框 */
.largebox {
    height: auto!important;
}

/* 选择颜色分类 */
.typechoosing {
    background-color: var(--colorred)!important;
    color: var(--colorwhite)!important;
}

/* 收藏 */
.isfavorite {
    fill: var(--colorred)!important;
}

/* 图标变红 */
.red {
    fill: var(--colorred)!important;
}