
/* 标题 */
.titlencommand {
    display: flex;
    height: 30px;
    align-items: center;
}
.titlencommand>.title {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
}
.titlencommand>.command {
    width: 80px;
    height: 30px;
    margin-left: 20px;
    background-color: var(--colorred);
    border-radius: 16px;
    font-size: 15px;
    font-weight: bold;
    color: var(--colorwhite);
    text-align: center;
    line-height: 30px;
}

/* 主体 */
.timegroup>.cutlinegroup {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 30px;
    margin: 10px 0;
}
.timegroup>.cutlinegroup>.cutline {
    flex: 1;
}
.timegroup>.cutlinegroup>.timetitle {
    width: 150px;
    font-size: 20px;
    height: 100%;
    text-align: center;
    line-height: 30px;
}
.timegroup>.goods {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


@media only screen and (max-width: 1680px) {
    /* 标题 */
    .titlencommand {
        height: 30rem;
    }
    .titlencommand>.title {
        font-size: 20rem;
    }
    .titlencommand>.command {
        width: 80rem;
        height: 30rem;
        margin-left: 20rem;
        font-size: 15rem;
        line-height: 30rem;
    }
    
    /* 主体 */
    .timegroup>.cutlinegroup {
        gap: 20rem;
        height: 30rem;
        margin: 10rem 0;
    }
    .timegroup>.cutlinegroup>.timetitle {
        width: 150rem;
        font-size: 20rem;
        line-height: 30rem;
    }
    .timegroup>.goods {
        gap: 20rem;
    }
}