
/* 整体设置 */
.homepagebody {
    max-width: var(--pagemaxwidth);
    margin: auto;
}

/* 上半部分 */
.special {
    margin: 20px 0;
    display: flex;
    gap: 20px 20px;
}
.rowpaper {
    width: 660px;
    height: 480px;
    overflow: hidden;
    border-radius: 25px;
}
.rowpaper>.rowpapercontain {
    width: 3300px;
    height: 480px;
    display: flex;
    animation: rowpaper 10s ease infinite;
}
.rowpaper>.rowpapercontain>.img {
    width: 660px;
    height: 480px;
    object-fit:cover;
}
.famous {
    width: 1000px;
    max-height: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    overflow: hidden;
    flex: 1;
}

/* 下半部分 */
.normal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}

/* 动画 */
@keyframes rowpaper {
    0%,10% {
        transform: translateX(0px);
    }
    20%,30% {
        transform: translateX(-660px);
    }
    40%,50% {
        transform: translateX(-1320px);
    }
    60%,70% {
        transform: translateX(-1980px);
    }
    80%,90% {
        transform: translateX(-2640px);
    }
    100% {
        transform: translateX(0px);
    }
}

@media only screen and (max-width: 1680px) {
    /* 上半部分 */
    .special {
        margin: 20rem 0;
        gap: 20rem 20rem;
    }
    .rowpaper {
        width: 660rem;
        height: 480rem;
    }
    .rowpaper>.rowpapercontain {
        width: 3300rem;
        height: 480rem;
    }
    .rowpaper>.rowpapercontain>.img {
        width: 660rem;
        height: 480rem;
    }
    .famous {
        width: 1000rem;
        max-height: 560rem;
        gap: 20rem 20rem;
    }
    
    /* 下半部分 */
    .normal {
        gap: 20rem 20rem;
    }
}