
/* 整体设置 */
.homepagebody {
    max-width: var(--pagemaxwidth);
    margin: auto;
}

/* 上半部分 */
.special {
    margin: 20px 0;
    display: flex;
    gap: 20px 20px;
}
.rowpaper {
    position: relative;
    width: 660px;
    height: 480px;
    overflow: hidden;
    border-radius: 25px;
}

.rowpaper>.overshell {
    position: absolute;
    width: 660px;
    height: 480px;
    font-size: 14px;
    display: flex;
}
.rowpaper>.leftright {
    height: 450px;
    z-index: 10;
    opacity: 0;
    transition-duration: 0.5s;
    justify-content: space-between;
    align-items: center;
}
.rowpaper>.leftright:hover {
    opacity: 1;
    transition-duration: 0.5s;
}
.rowpaper>.leftright>.goneighbour {
    width: 50px;
    height: 100px;
    background-color: var(--rgbagrey);
}
.rowpaper>.leftright>.goneighbour>.icon {
    width: 50px;
    height: 100px;
}
.rowpaper>.gopage {
    padding: 10px 20px;
    justify-content: end;
    align-items: end;
    z-index: 5;
    box-sizing: border-box;
    gap: 10px;
}
.rowpaper>.gopage>.pagesign {
    width: 25px;
    height: 25px;
    background-color: var(--shadowblack);
    border-radius: 25px;
    color: var(--colorwhite);
    line-height: 25px;
    text-align: center;
}
.rowpaper>.gopage>.pagesignselected {
    background-color: var(--colorred);
}

.rowpaper>.rowpapercontain {
    position: absolute;
    width: 3300px;
    height: 480px;
    display: flex;
    transition-duration: 1s;
}
.rowpaper>.rowpapercontain>.img {
    width: 660px;
    height: 480px;
    object-fit:cover;
}

.famous {
    width: 1000px;
    max-height: 560px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    overflow: hidden;
    flex: 1;
}

/* 下半部分 */
.normal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}

/* 动画 */
@keyframes rowpaper {
    0%,10% {
        left:0px;
    }
    20%,30% {
        left:-660px;
    }
    40%,50% {
        left:-1320px;
    }
    60%,70% {
        left:-1980px;
    }
    80%,90% {
        left:-2640px;
    }
    100% {
        left:0px;
    }
}

@media only screen and (max-width: 1680px) {
    /* 上半部分 */
    .special {
        margin: 20rem 0;
        gap: 20rem 20rem;
    }
    .rowpaper {
        width: 660rem;
        height: 480rem;
    }
    
    .rowpaper>.overshell {
        width: 660rem;
        height: 480rem;
        font-size: 14rem;
    }
    .rowpaper>.leftright {
        height: 450rem;
    }
    .rowpaper>.leftright>.goneighbour {
        width: 50rem;
        height: 100rem;
    }
    .rowpaper>.leftright>.goneighbour>.icon {
        width: 50rem;
        height: 100rem;
    }
    .rowpaper>.gopage {
        padding: 10rem 20rem;
        gap: 10rem;
    }
    .rowpaper>.gopage>.pagesign {
        width: 25rem;
        height: 25rem;
        line-height: 25rem;
    }
    .rowpaper>.rowpapercontain {
        width: 3300rem;
        height: 480rem;
    }
    .rowpaper>.rowpapercontain>.img {
        width: 660rem;
        height: 480rem;
    }
    .famous {
        width: 1000rem;
        max-height: 560rem;
        gap: 20rem 20rem;
    }
    
    /* 下半部分 */
    .normal {
        gap: 20rem 20rem;
    }
}