
/* 整体设置 */
.kindpagebody {
    max-width: var(--pagemaxwidth);
    margin: auto;
}

/* 工具栏 */
.toolsbar {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 1px 2px var(--shadowblack);
    padding: 10px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 标题 */
.title {
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}

/* 标签 */
.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tags>.tag {
    height: 30px;
    padding: 0 25px;
    border: 1px dashed var(--colorgrey);
    border-radius: 15px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
}
.tags>.choosing {
    background-color: var(--colordred);
    color: var(--colorwhite);
}

/* 选项 */
.options {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.left {
    width: 680px;
    height: 100%;
    display: flex;
}
.left>.option1 {
    width: 90px;
    height: 100%;
    line-height: 30px;
    font-size: 15px;
    color: var(--colordgrey);
    border: 1px solid var(--colorgrey);
    display: flex;
    justify-content:center;
}
.left .upanddown {
    width: 15px;
    height: 15px;
    fill: var(--colorgrey);
    display: block;
    margin-left: 150%;
}
.left>.option2 {
    height: 100%;
    line-height: 30px;
    font-size: 15px;
    color: var(--colordgrey);
    display: flex;
    margin-left: 25px;
    gap: 5px;
}
.left .inputbox {
    width: 90px;
    height: 100%;
    border: 1px solid var(--colorgrey);
    display: flex;
}
.left .inputbox>.input {
    font-size: 15px;
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    margin-left: 5px;
    flex: 1;
}
.right {
    width: 90px;
    height: 100%;
    font-size: 15px;
    color: var(--colordgrey);
    display: flex;
    gap: 4px;
    justify-content:right;
    align-items: center;
}
.right>.leftandright {
    width: 20px;
    height: 20px;
    fill: var(--colorgrey);
    border: 1px solid var(--colorgrey);
}
.right>.enable {
    fill: var(--colorblack);
}

/* 下半部分 */
.itemlist {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media only screen and (max-width: 1680px) {
    /* 工具栏 */
    .toolsbar {
        padding: 10rem 15rem;
        gap: 10rem;
    }
    
    /* 标题 */
    .title {
        height: 30rem;
        font-size: 15rem;
        line-height: 30rem;
    }
    
    /* 标签 */
    .tags {
        gap: 10rem;
    }
    .tags>.tag {
        height: 30rem;
        padding: 0 25rem;
        line-height: 30rem;
        font-size: 15rem;
    }

    /* 选项 */
    .options {
        height: 30rem;
    }
    .left {
        width: 680rem;
    }
    .left>.option1 {
        width: 90rem;
        line-height: 30rem;
        font-size: 15rem;
    }
    .left .upanddown {
        width: 15rem;
        height: 15rem;
    }
    .left>.option2 {
        line-height: 30rem;
        font-size: 15rem;
        margin-left: 25rem;
        gap: 5rem;
    }
    .left .inputbox {
        width: 90rem;
    }
    .left .inputbox>.input {
        font-size: 15rem;
        margin-left: 5rem;
    }
    .right {
        width: 90rem;
        font-size: 15rem;
        gap: 4rem;
    }
    .right>.leftandright {
        width: 20rem;
        height: 20rem;
    }

    /* 下半部分 */
    .itemlist {
        margin-top: 40rem;
        gap: 20rem;
    }
}