.navigatorbody {
    width: 100%;
    position: fixed;
    z-index: 10;
}


/* 头图 */
.headimg {
    position: relative;
    width: 100%;
    height: 150px;
}
.IMG {    
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.LOGO {
    width: 200px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translate(-50%,-50%);    
    object-fit:contain;
    &:hover {
        scale: 1.1;
    }
    &:active {
        scale: 1.0;
    }
}

/* 导航栏 */
.navigator {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--colorred);
    &>div {
        height: 100%;
    }
    &>.blank {
        max-width: 60px;
        flex-grow: 1;
        flex-shrink: 2;
    }
    &>.blank2 {
        flex-grow: 2;
        flex-shrink: 2;
    }
}

/* 搜索框 */
.searchbox {
    width: 500px;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &>form {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        background-color: var(--colorwhite);
        &>.searchimput {
            border: none;
            outline: none;
            height: 100%;
            margin-left: 10px;
            flex: 1;
            font-size: 18px;
        }
        &>.searchimput:focus {
            border: none;
            outline: none;
        }
        &>.searchbutton {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            fill: var(--colordgrey);
            border-radius: 5px;
            &:hover {
                background-color: var(--colorslgrey);
            }
        }
    }
}

/* 左侧 */
.labels {
    overflow: hidden;
    flex-shrink: 1;
    &>li {
        float: left;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: var(--colorwhite);
        &:hover {
            background-color: var(--colordred);
        }
    }
}

/* 右侧 */
.usersetting {
    flex-shrink: 1;
    overflow: hidden;
    &>ul {
        height: 100%;
        float: left;
    }
    &>ul>div {        
        height: 100%;
        float: left;
    }
    &>ul>div>div{
        position: absolute;
    }

    & li {
        float: left;
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* 收藏夹、历史记录、购物车菜单 */
    & .popoverpanel {
        position: absolute;
        z-index: 10;
        transform: translate(-50%,50px);
        transition-duration: 0.3s;
    }

    & .avator {
        width: 40px;
        height: 40px;
        transition-duration: 0s;
        /* 用户菜单 */
        &>.avatorpanel {
            position: absolute;
            left: 50%;
            transform: translate(-50%,-50px);
            z-index: -1;
        }
    }
    & .islogin:hover {
        width: 100px;
        height: 100px;
        position: absolute;
        transform: translate(-20px,30%);
        transition-duration: 0.3s;
        z-index: 10;
    }
    & .avatorimg {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}
.usersetting li>:not(.avator) {
    width: 35px;
    height: 35px;
    fill: var(--colorwhite);
}